@charset "UTF-8";
/*========================================
設定
========================================*/
/*========================================
base   デフォルト設定
========================================*/
html,
body {
  width: 100%;
  font-size: 16px;
  line-height: 1.6;
  text-size-adjust: 100%;
  letter-spacing: 0.1em;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background-image: url("../images/haikei.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*========================================
icon
小さくてアイコン、パーツ　 
Githubのアイコンのスタイル
========================================*/
.fa-github {
  font-family: FontAwesome; }

.github-link {
  text-decoration: none;
  color: #444; }

/*========================================
Top
========================================*/
.p-top {
  font-size: 28px;
  color: #333333;
  position: absolute;
  top: 25%;
  animation: fadeIn 7s ease 2s 1 normal;
  -webkit-animation: fadeIn 7s ease 0.1s 1 normal; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .p-top__title {
    font-size: 55px;
    font-family: "Oswald", sans-serif;
    text-align: center;
    margin-bottom: 40px; }
  .p-top__menuBox {
    display: inline-block;
    margin-bottom: 20px; }
  .p-top__icon {
    text-align: center;
    margin-bottom: 60px; }

.menu__item {
  display: inline-block;
  position: relative;
  text-decoration: none; }
  .menu__item .menu__link {
    text-decoration: none;
    color: #333333;
    font-weight: lighter;
    font-size: 24px;
    margin: 0 20px; }
    .menu__item .menu__link::after {
      position: absolute;
      left: 0;
      bottom: -10px;
      content: '';
      background: #4B0082;
      height: 2px;
      transition: .5s all;
      width: 0; }
    .menu__item .menu__link:hover::after {
      width: 100%; }

.footer {
  font-size: 18px;
  text-align: center; }

/*========================================
layout　　
ページを構成するヘッダーやメインのコンテンツエリアなど共通のブロックスタイル
========================================*/
