/*========================================
icon
小さくてアイコン、パーツ　 
Githubのアイコンのスタイル
========================================*/

.fa-github {
    font-family: FontAwesome;
}

.github-link {
    text-decoration: none;
    color: #444;

}