@keyframes LefttoRight {
    0% {
        opacity: 0;
        /* 透明 */
        transform: translateX(-70px);
        /* X軸方向に50px */
    }

    100% {
        opacity: 1;
        /* 不透明 */
        transform: translateX(0);
    }
}

.p-sidebar {
    width: 300px;
    height: 100%;
    background: white;
    position: fixed;
    box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, .15);
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 100px 30px 30px 30px;

    animation-duration: 4s;
    animation-name: LefttoRight;
    animation-iteration-count: none;

    &__title {
        font-family: $font-family_sidebar;
        text-align: center;
        font-weight: bold;
        margin-bottom: 40px;

        &:hover {
            cursor: pointer;
        }
    }

    &__menu {
        text-align: center;
    }

    &__link {
        margin-bottom: 20px;
    }

    &__footer p {
        font-size: $font-size-s;
        text-align: center;
    }
}

@keyframes RighttoLeft {
    0% {
        opacity: 1;
        /* 透明 */
        transform: translateX(0px);
        /* X軸方向に50px */
    }

    100% {
        opacity: 0;
        /* 不透明 */
        transform: translateX(-300px);
    }
}

.p-sidebar__hide {
    width: 300px;
    height: 100%;
    background: white;
    position: fixed;
    box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, .15);
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 100px 30px 30px 30px;
    animation-duration: 2s;
    animation-name: RighttoLeft;
    animation-iteration-count: none;
    overflow: hidden;
}