@keyframes RightToLeft {
    0% {
        opacity: 0;
        /* 透明 */
        transform: translateX(-70px);
        /* X軸方向に50px */
    }

    100% {
        opacity: 1;
        /* 不透明 */
        transform: translateX(0);
    }
}

.p-sidebar {
    width: 235px;
    height: 100%;
    background: white;
    position: fixed;
    box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, .15);
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 100px 30px 30px 30px;

    animation-duration: 2s;
    animation-name: RightToLeft;
    animation-iteration-count: none;
    


    &__title {
        font-family: $font-family_sidebar;
        font-size: $font-size-l;
        margin-bottom: 30px;
    }

    &__menu {
        text-align: center;
    }

    &__link {
        margin-bottom: 20px;
    }

    &__footer p {
        font-size: $font-size-s;
    }
}